// src/_colors.css

// THEME: Super World 64
$color1: #2cf24a;
$color2: #bb452a;
$color3: #5fcbf2;
$color4: #f1d274;
$color5: #b8d846;

// THEME: Exoctic
// $color1: #618C03;
// $color2: #F2B705;
// $color3: #D97904;
// $color4: #8C0E03;
// $color5: #D92B04;

@import "shades";